@charset "UTF-8";
@media screen and (max-width: 1200px) {
  .skill_wrap > div, .etc_list_wrap > div, .studying_list_wrap > div {
    margin:10px 0;
  }
  .navbar_menu_item {
    margin: 0 50px;
  }
  .portfolio_desc p {  
    margin-bottom: 10px;  
  } 
  .github span, .gotosite span {
    font-size: 1vw;    
  }
}




@media screen and (max-width: 768px) {
  .navbar_toggle-btn {
    display: block;
    color: var(--color-white);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;    
  }
  .navbar_logo {
    padding: 0 20px;
  }
  .navbar_menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;    
  }
  .navbar_menu.open {
    display: block;    
  }
  .navbar_menu_item {    
    margin: 0;
  }
  .navbar_menu_item:hover {
    border-bottom: none;
    background-color: var(--color-white);
    color: var(--color-black);    
  }

  #about .section_container {
    flex-direction: column;
    padding: 0 0 0 18vw;
  }

  .about_right_wrap {
    width: 350px;
  }
  .portfolio:hover .portfolio_desc {
    opacity: 0;
  }

}
